---
const { title, url, image, tags, description } = Astro.props;
---

<li class="mb-7 gap-x-4"><div class="image w-2/5 intersect intersect-once"><a href=`${url}`><img src={image.url} /></a></div><div class="postinfo w-3/5 md:w-auto intersect intersect-once"><a href=`${url}` class="article-title intersect fade-right intersect-once">{title}</a><div class="my-2">{tags.map((tag) => (<span class="tag intersect fade-right intersect-once"><a href={ Astro.currentLocale === "ja" ? `/ja/tags/${tag}` : `/tags/${tag}`}>#{tag}</a></span>))}</div>{description}</p></div></li>

<style>
li:nth-child(odd){
    @apply 
    flex 
    flex-row 
    -translate-x-24
    animate-fade-right
}
li:nth-child(odd) img{
    @apply 
    rounded-r-3xl
}
li:nth-child(odd) .postinfo{
    @apply 
    justify-self-start
    animate-once
}
li:nth-child(even){
    @apply 
    flex 
    flex-row-reverse
    translate-x-24
    animate-fade-left
    animate-once
}
li:nth-child(even) img{
    @apply 
    rounded-l-3xl
}
li:nth-child(even) .postinfo{
    @apply 
    justify-self-end
}
</style>