---
const enhance = {
  year: "2023",
  title: "System Enhance",
  location: "Oita, Japan (remote)",
  contract: "freelance",
  duration: "2023 - present",
  tags: ["web design", "graphic design", "webdev", "WordPress", "PowerPoint"],
  multiResponsibilities: true,
  responsibilities: ["Designing/building websites and landing pages", "Designing print materials", "Making PowerPoint presentation"],
  works: ["enhance-low-code-design.webp"],
  titleJa: "株式会社システムエンハンス",
  locationJa: "大分県（リモート）",
  contractJa: "業務委託",
  durationJa: "2023年～現在",
  tagsJa: ["Webデザイン", "グラフィックデザイン", "Web開発", "WordPress", "PowerPoint"],
  responsibilitiesJa: ["Webサイト・LPデザイン", "印刷物デザイン", "PowerPointプレゼン資料作成"],
};

const mtblancpictures = {
  year: "2022",
  title: "Mtblanc Pictures",
  location: "Fukuoka, Japan (on-site/remote)",
  contract: "employee",
  duration: "Aug - Dec 2022",
  tags: ["2D animation", "3D animation", "Unreal Engine"],
  multiResponsibilities: false,
  responsibilities: ["Making animations for TV show and public display"],
  titleJa: "モンブラン・ピクチャーズ株式会社",
  locationJa: "福岡県",
  contractJa: "",
  durationJa: "2022年8月～12月",
  tagsJa: ["2Dアニメーション", "3Dアニメーション", "Unreal Engine"],
  responsibilitiesJa: ["TV番組や公共施設向けのアニメーション制作"],
};

const elephantstone = {
  year: "2021",
  title: "ElephantStone",
  location: "Tokyo, Japan (remote)",
  contract: "freelance",
  duration: "Dec 2021 - present",
  tags: ["2D animation", "motion graphics", "video editing"],
  multiResponsibilities: false,
  responsibilities: ["Editing explainer animation videos"],
  titleJa: "株式会社エレファントストーン",
  locationJa: "東京都（リモート）",
  contractJa: "業務委託",
  durationJa: "2021年12月～現在",
  tagsJa: ["2Dアニメーション", "モーショングラフィックス", "動画編集"],
  responsibilitiesJa: ["商品・サービス説明等のアニメーション動画編集"],
};

const comeluck = {
  year: "2017",
  title: "Comeluck",
  location: "Fukuoka, Japan",
  contract: "employee",
  duration: "May 2017 - Nov 2019",
  tags: ["web design", "graphic design", "2D illustration"],
  multiResponsibilities: true,
  responsibilities: ["Making advertisement/promotional designs and illustrations for entertainment projects", "Building and managing local businesses websites"],
  works: ["theater-tomoshibi.webp", "theater-setouchi.webp"],
  titleJa: "株式会社カムラック",
  locationJa: "福岡県",
  contractJa: "",
  durationJa: "2017年5月～2019年11月",
  tagsJa: ["Webデザイン", "グラフィックデザイン", "2Dイラスト"],
  responsibilitiesJa: ["芸能関連の宣伝物デザイン・イラスト制作", "ローカルビジネスWebサイト制作・運営"],
};

const freelance1 = {
  year: "2015",
  title: "Freelance designer",
  duration: "Apr 2015 - May 2017",
  tags: ["web design", "graphic design", "animated stickers"],
  multiResponsibilities: true,
  responsibilities: ["Building local business websites", "Designing animated stickers and emojis"],
  works: ["pixel-art-animation"],
  titleJa: "フリーランスデザイナー",
  locationJa: "",
  contractJa: "",
  durationJa: "2015年4月～2017年5月",
  tagsJa: ["Webデザイン", "グラフィックデザイン", "アニメーションスタンプ"],
  responsibilitiesJa: ["Webサイト制作", "デコメ絵文字・スタンプ制作"],
};

const innocent = {
  year: "2014",
  title: "Innocent",
  location: "Fukuoka, Japan",
  contract: "employee",
  duration: "Sep 2014 - Feb 2015",
  tags: ["web design", "website management", "graphic design"],
  multiResponsibilities: true,
  responsibilities: ["Managing local business websites"],
  titleJa: "株式会社イノセント",
  locationJa: "福岡県",
  contractJa: "",
  durationJa: "2014年9月～2015年2月",
  tagsJa: ["Webデザイン", "Webサイト運営", "グラフィックデザイン"],
  responsibilitiesJa: ["ローカルビジネスWebサイト運営"],
};

const shikumi = {
  year: "2013",
  title: "Shikumi Design",
  location: "Fukuoka, Japan",
  contract: "employee",
  duration: "Sep 2013 - Feb 2014",
  tags: ["2D animation", "web design", "website management"],
  multiResponsibilities: true,
  responsibilities: ["Designing digital signage assets", "Recreating and managing a corporate website"],
  titleJa: "株式会社しくみデザイン",
  locationJa: "福岡県",
  contractJa: "",
  durationJa: "2013年9月～2014年2月",
  tagsJa: ["2Dアニメーション", "Webデザイン", "Webサイト運営"],
  responsibilitiesJa: ["デジタルサイネージ画像素材制作", "企業Webサイト改装作業・運営"],
};

const hcx = {
  year: "2013",
  title: "HCX Creator Net",
  location: "Fukuoka, Japan",
  contract: "freelance",
  duration: "Apr - Jun 2013",
  tags: ["video editing"],
  multiResponsibilities: false,
  responsibilities: ["Editing B2B product promotion videos"],
  titleJa: "HCXクリエーターズネット",
  locationJa: "福岡県",
  contractJa: "業務委託",
  durationJa: "2013年4月～2013年6月",
  tagsJa: ["動画編集"],
  responsibilitiesJa: ["会社・サービス案内等のB2B動画編集"],
};

const ifk = {
  year: "2009",
  title: "I-freek",
  location: "Fukuoka, Japan",
  contract: "employee",
  duration: "Oct 2009 - Mar 2013",
  tags: ["animated stickers", "web design", "website management"],
  multiResponsibilities: true,
  responsibilities: ["Making animated/static pixel art emojis and stickers", "Managing feature-phone emoji marketplace websites"],
  titleJa: "株式会社アイフリークモバイル",
  locationJa: "福岡県",
  contractJa: "",
  durationJa: "2009年10月～2013年3月",
  tagsJa: ["アニメーションスタンプ", "Webデザイン", "Webサイト運営"],
  responsibilitiesJa: ["デコメ絵文字・スタンプ制作（アニメーション・静止画）", "デコメ配信プラットフォーム制作・運営（フィーチャーフォン・スマートフォン向け）"],
};
---

<ul class="timeline">
    <!-- Enhance -->
    <li>
        <div class="job-info intersect fade-down intersect-once">
            <span class="year intersect fade-down intersect-once">{enhance.year}</span>
            <p class="job-title intersect fade-right intersect-once">{ Astro.currentLocale === "ja"
        ? `${enhance.titleJa}` : `${enhance.title}`}
                <span class="location">({ Astro.currentLocale === "ja"
        ? `${enhance.locationJa}` : `${enhance.location}`} | { Astro.currentLocale === "ja"
        ? `${enhance.contractJa}` : `${enhance.contract}`})</span>
            </p>
        </div>
        <div class="job-desc intersect fade-down intersect-once">
            { Astro.currentLocale === "ja" ? (
                <span>{enhance.tagsJa.map((tag) => (<span class="tag intersect fade-right intersect-once">#{tag}</span>))}</span>
                ) : (
                <span>{enhance.tags.map((tag) => (<span class="tag intersect fade-right intersect-once">#{tag}</span>))}</span>
            )}
            <p class="duration intersect fade-right intersect-once">{ Astro.currentLocale === "ja"
        ? `${enhance.durationJa}` : `${enhance.duration}`}</p>
            <div class="job-summary intersect fade-right intersect-once">
                { Astro.currentLocale === "ja" ? (
                <ul  class="responsibilities intersect fade-right intersect-once">業務内容： {enhance.responsibilitiesJa.map((responsibility) => (<li class="intersect fade-right intersect-once">{responsibility}</li>))}</ul>
                ) : (
                <ul  class="responsibilities intersect fade-right intersect-once">{enhance.multiResponsibilities === true ? "Responsibilities" : "Responsibility"} : {enhance.responsibilities.map((responsibility) => (<li class="intersect fade-right intersect-once">{responsibility}</li>))}</ul>
                )}
                <p class="works" data-dialog-target="modal-enhance">{enhance.works.map((work) => (<img src=`/src/images/portfolio/${work}` class=`w-auto max-w-32` />))}</p>
            </div>
        </div>
    </li>
    <div
        data-dialog-backdrop="modal-enhance"
        data-dialog-backdrop-close="true"
        class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center overflow-auto bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300"
        >
        <div
            data-dialog="modal-enhance"
            class="relative m-4 p-4 w-2/5 min-w-[80%] max-w-[80%] md:min-w-[60%] md:max-w-[60%] rounded-lg bg-white shadow-sm"
        >
        {enhance.works.map((work) => (<img src=`/src/images/portfolio/${work}` />))}
        </div>
    </div>
    
    <!-- Mtblanc Pictures -->
    <li>
        <div class="job-info intersect fade-down intersect-once">
            <span class="year intersect fade-down intersect-once">{mtblancpictures.year}</span>
            <p class="job-title intersect fade-right intersect-once">{ Astro.currentLocale === "ja"
        ? `${mtblancpictures.titleJa}` : `${mtblancpictures.title}`}
                <span class="location">({ Astro.currentLocale === "ja"
        ? `${mtblancpictures.locationJa}` : `${mtblancpictures.location}`})</span>
            </p>
        </div>
        <div class="job-desc intersect fade-down intersect-once">
            { Astro.currentLocale === "ja" ? (
                <span>{mtblancpictures.tagsJa.map((tag) => (<span class="tag intersect fade-right intersect-once">#{tag}</span>))}</span>
                ) : (
                <span>{mtblancpictures.tags.map((tag) => (<span class="tag intersect fade-right intersect-once">#{tag}</span>))}</span>
            )}
            <p class="duration intersect fade-right intersect-once">{ Astro.currentLocale === "ja"
        ? `${mtblancpictures.durationJa}` : `${mtblancpictures.duration}`}</p>
            <div class="job-summary intersect fade-right intersect-once">
                { Astro.currentLocale === "ja" ? (
                <ul  class="responsibilities intersect fade-right intersect-once">業務内容： {mtblancpictures.responsibilitiesJa.map((responsibility) => (<li class="intersect fade-right intersect-once">{responsibility}</li>))}</ul>
                ) : (
                <ul  class="responsibilities intersect fade-right intersect-once">{mtblancpictures.multiResponsibilities === true ? "Responsibilities" : "Responsibility"} : {mtblancpictures.responsibilities.map((responsibility) => (<li class="intersect fade-right intersect-once">{responsibility}</li>))}</ul>
                )}
            </div>
        </div>
    </li>

    <!-- Elephant Stone -->
    <li>
        <div class="job-info intersect fade-down intersect-once">
            <span class="year intersect fade-down intersect-once">{elephantstone.year}</span>
            <p class="job-title intersect fade-right intersect-once">{ Astro.currentLocale === "ja"
        ? `${elephantstone.titleJa}` : `${elephantstone.title}`}
                <span class="location">({ Astro.currentLocale === "ja"
        ? `${elephantstone.locationJa}` : `${elephantstone.location}`} | { Astro.currentLocale === "ja"
        ? `${elephantstone.contractJa}` : `${elephantstone.contract}`})</span>
            </p>
        </div>
        <div class="job-desc intersect fade-down intersect-once">
            { Astro.currentLocale === "ja" ? (
                <span>{elephantstone.tagsJa.map((tag) => (<span class="tag intersect fade-right intersect-once">#{tag}</span>))}</span>
                ) : (
                <span>{elephantstone.tags.map((tag) => (<span class="tag intersect fade-right intersect-once">#{tag}</span>))}</span>
            )}
            <p class="duration intersect fade-right intersect-once">{ Astro.currentLocale === "ja"
        ? `${elephantstone.durationJa}` : `${elephantstone.duration}`}</p>
            <div class="job-summary intersect fade-right intersect-once">
                { Astro.currentLocale === "ja" ? (
                <ul  class="responsibilities intersect fade-right intersect-once">業務内容： {elephantstone.responsibilitiesJa.map((responsibility) => (<li class="intersect fade-right intersect-once">{responsibility}</li>))}</ul>
                ) : (
                <ul  class="responsibilities intersect fade-right intersect-once">{elephantstone.multiResponsibilities === true ? "Responsibilities" : "Responsibility"} : {elephantstone.responsibilities.map((responsibility) => (<li class="intersect fade-right intersect-once">{responsibility}</li>))}</ul>
                )}
            </div>
        </div>
    </li>

    <!-- Comeluck -->
    <li>
        <div class="job-info intersect fade-down intersect-once">
            <span class="year intersect fade-down intersect-once">{comeluck.year}</span>
            <p class="job-title intersect fade-right intersect-once">{ Astro.currentLocale === "ja"
        ? `${comeluck.titleJa}` : `${comeluck.title}`}
                <span class="location">({ Astro.currentLocale === "ja"
        ? `${comeluck.locationJa}` : `${comeluck.location}`})</span>
            </p>
        </div>
        <div class="job-desc intersect fade-down intersect-once">
            { Astro.currentLocale === "ja" ? (
                <span>{comeluck.tagsJa.map((tag) => (<span class="tag intersect fade-right intersect-once">#{tag}</span>))}</span>
                ) : (
                <span>{comeluck.tags.map((tag) => (<span class="tag intersect fade-right intersect-once">#{tag}</span>))}</span>
            )}
            <p class="duration intersect fade-right intersect-once">{ Astro.currentLocale === "ja"
        ? `${comeluck.durationJa}` : `${comeluck.duration}`}</p>
            <div class="job-summary intersect fade-right intersect-once">
                { Astro.currentLocale === "ja" ? (
                <ul  class="responsibilities intersect fade-right intersect-once">業務内容： {comeluck.responsibilitiesJa.map((responsibility) => (<li class="intersect fade-right intersect-once">{responsibility}</li>))}</ul>
                ) : (
                <ul  class="responsibilities intersect fade-right intersect-once">{comeluck.multiResponsibilities === true ? "Responsibilities" : "Responsibility"} : {comeluck.responsibilities.map((responsibility) => (<li class="intersect fade-right intersect-once">{responsibility}</li>))}</ul>
                )}
                <p class="works" data-dialog-target="modal-comeluck">{comeluck.works.map((work) => (<img src=`/src/images/portfolio/${work}` class=`w-auto max-w-32` />))}</p>
            </div>
        </div>
    </li>
    <div
        data-dialog-backdrop="modal-comeluck"
        data-dialog-backdrop-close="true"
        class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center overflow-auto bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300"
        >
        <div
            data-dialog="modal-comeluck"
            class="relative m-4 p-4 w-2/5 min-w-[80%] max-w-[80%] md:min-w-[60%] md:max-w-[60%] rounded-lg bg-white shadow-sm"
        >
        {comeluck.works.map((work) => (<img src=`/src/images/portfolio/${work}` />))}
        </div>
    </div>

    <!-- Freelance 1 -->
    <li>
        <div class="job-info intersect fade-down intersect-once">
            <span class="year intersect fade-down intersect-once">{freelance1.year}</span>
            <p class="job-title intersect fade-right intersect-once">{ Astro.currentLocale === "ja"
        ? `${freelance1.titleJa}` : `${freelance1.title}`}
            </p>
        </div>
        <div class="job-desc intersect fade-down intersect-once">
            { Astro.currentLocale === "ja" ? (
                <span>{freelance1.tagsJa.map((tag) => (<span class="tag intersect fade-right intersect-once">#{tag}</span>))}</span>
                ) : (
                <span>{freelance1.tags.map((tag) => (<span class="tag intersect fade-right intersect-once">#{tag}</span>))}</span>
            )}
            <p class="duration intersect fade-right intersect-once">{ Astro.currentLocale === "ja"
        ? `${freelance1.durationJa}` : `${freelance1.duration}`}</p>
            <div class="job-summary intersect fade-right intersect-once">
                { Astro.currentLocale === "ja" ? (
                <ul  class="responsibilities intersect fade-right intersect-once">業務内容： {freelance1.responsibilitiesJa.map((responsibility) => (<li class="intersect fade-right intersect-once">{responsibility}</li>))}</ul>
                ) : (
                <ul  class="responsibilities intersect fade-right intersect-once">{freelance1.multiResponsibilities === true ? "Responsibilities" : "Responsibility"} : {freelance1.responsibilities.map((responsibility) => (<li class="intersect fade-right intersect-once">{responsibility}</li>))}</ul>
                )}
                <p class="works" data-dialog-target="modal-freelance1">{freelance1.works.map((work) => (<img src=`/src/images/portfolio/${work}_thumb.jpg` class=`w-auto max-w-32` />))}</p>
            </div>
        </div>
    </li>
    <div
        data-dialog-backdrop="modal-freelance1"
        data-dialog-backdrop-close="true"
        class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center overflow-auto bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300"
        >
        <div
            data-dialog="modal-freelance1"
            class="relative m-4 p-4 w-2/5 min-w-[80%] max-w-[80%] md:min-w-[60%] md:max-w-[60%] rounded-lg bg-white shadow-sm"
        >
        {freelance1.works.map((work) => (<video src=`/src/images/portfolio/${work}.webm` autoplay loop></video>))}
        </div>
    </div>

    <!-- Innocent -->
    <li>
        <div class="job-info intersect fade-down intersect-once">
            <span class="year intersect fade-down intersect-once">{innocent.year}</span>
            <p class="job-title intersect fade-right intersect-once">{ Astro.currentLocale === "ja"
        ? `${innocent.titleJa}` : `${innocent.title}`}
                <span class="location">({ Astro.currentLocale === "ja"
        ? `${innocent.locationJa}` : `${innocent.location}`})</span>
            </p>
        </div>
        <div class="job-desc intersect fade-down intersect-once">
            { Astro.currentLocale === "ja" ? (
                <span>{innocent.tagsJa.map((tag) => (<span class="tag intersect fade-right intersect-once">#{tag}</span>))}</span>
                ) : (
                <span>{innocent.tags.map((tag) => (<span class="tag intersect fade-right intersect-once">#{tag}</span>))}</span>
            )}
            <p class="duration intersect fade-right intersect-once">{ Astro.currentLocale === "ja"
        ? `${innocent.durationJa}` : `${innocent.duration}`}</p>
            <div class="job-summary intersect fade-right intersect-once">
                { Astro.currentLocale === "ja" ? (
                <ul  class="responsibilities intersect fade-right intersect-once">業務内容： {innocent.responsibilitiesJa.map((responsibility) => (<li class="intersect fade-right intersect-once">{responsibility}</li>))}</ul>
                ) : (
                <ul  class="responsibilities intersect fade-right intersect-once">{innocent.multiResponsibilities === true ? "Responsibilities" : "Responsibility"} : {innocent.responsibilities.map((responsibility) => (<li class="intersect fade-right intersect-once">{responsibility}</li>))}</ul>
                )}
            </div>
        </div>
    </li>

    <!-- Shikumi -->
    <li>
        <div class="job-info intersect fade-down intersect-once">
            <span class="year intersect fade-down intersect-once">{shikumi.year}</span>
            <p class="job-title intersect fade-right intersect-once">{ Astro.currentLocale === "ja"
        ? `${shikumi.titleJa}` : `${shikumi.title}`}
                <span class="location">({ Astro.currentLocale === "ja"
        ? `${shikumi.locationJa}` : `${shikumi.location}`})</span>
            </p>
        </div>
        <div class="job-desc intersect fade-down intersect-once">
            { Astro.currentLocale === "ja" ? (
                <span>{shikumi.tagsJa.map((tag) => (<span class="tag intersect fade-right intersect-once">#{tag}</span>))}</span>
                ) : (
                <span>{shikumi.tags.map((tag) => (<span class="tag intersect fade-right intersect-once">#{tag}</span>))}</span>
            )}
            <p class="duration intersect fade-right intersect-once">{ Astro.currentLocale === "ja"
        ? `${shikumi.durationJa}` : `${shikumi.duration}`}</p>
            <div class="job-summary intersect fade-right intersect-once">
                { Astro.currentLocale === "ja" ? (
                <ul  class="responsibilities intersect fade-right intersect-once">業務内容： {shikumi.responsibilitiesJa.map((responsibility) => (<li class="intersect fade-right intersect-once">{responsibility}</li>))}</ul>
                ) : (
                <ul  class="responsibilities intersect fade-right intersect-once">{shikumi.multiResponsibilities === true ? "Responsibilities" : "Responsibility"} : {shikumi.responsibilities.map((responsibility) => (<li class="intersect fade-right intersect-once">{responsibility}</li>))}</ul>
                )}
            </div>
        </div>
    </li>

    <!-- HCX -->
    <li>
        <div class="job-info intersect fade-down intersect-once">
            <span class="year intersect fade-down intersect-once">{hcx.year}</span>
            <p class="job-title intersect fade-right intersect-once">{ Astro.currentLocale === "ja"
        ? `${hcx.titleJa}` : `${hcx.title}`}
                <span class="location">({ Astro.currentLocale === "ja"
        ? `${hcx.locationJa}` : `${hcx.location}`} | { Astro.currentLocale === "ja"
        ? `${hcx.contractJa}` : `${hcx.contract}`})</span>
            </p>
        </div>
        <div class="job-desc intersect fade-down intersect-once">
            { Astro.currentLocale === "ja" ? (
                <span>{hcx.tagsJa.map((tag) => (<span class="tag intersect fade-right intersect-once">#{tag}</span>))}</span>
                ) : (
                <span>{hcx.tags.map((tag) => (<span class="tag intersect fade-right intersect-once">#{tag}</span>))}</span>
            )}
            <p class="duration intersect fade-right intersect-once">{ Astro.currentLocale === "ja"
        ? `${hcx.durationJa}` : `${hcx.duration}`}</p>
            <div class="job-summary intersect fade-right intersect-once">
                { Astro.currentLocale === "ja" ? (
                <ul  class="responsibilities intersect fade-right intersect-once">業務内容： {hcx.responsibilitiesJa.map((responsibility) => (<li class="intersect fade-right intersect-once">{responsibility}</li>))}</ul>
                ) : (
                <ul  class="responsibilities intersect fade-right intersect-once">{hcx.multiResponsibilities === true ? "Responsibilities" : "Responsibility"} : {hcx.responsibilities.map((responsibility) => (<li class="intersect fade-right intersect-once">{responsibility}</li>))}</ul>
                )}
            </div>
        </div>
    </li>
    
    <!-- IFK -->
    <li>
        <div class="job-info intersect fade-down intersect-once">
            <span class="year intersect fade-down intersect-once">{ifk.year}</span>
            <p class="job-title intersect fade-right intersect-once">{ Astro.currentLocale === "ja"
        ? `${ifk.titleJa}` : `${ifk.title}`}
                <span class="location">({ Astro.currentLocale === "ja"
        ? `${ifk.locationJa}` : `${ifk.location}`})</span>
            </p>
        </div>
        <div class="job-desc intersect fade-down intersect-once">
            { Astro.currentLocale === "ja" ? (
                <span>{ifk.tagsJa.map((tag) => (<span class="tag intersect fade-right intersect-once">#{tag}</span>))}</span>
                ) : (
                <span>{ifk.tags.map((tag) => (<span class="tag intersect fade-right intersect-once">#{tag}</span>))}</span>
            )}
            <p class="duration intersect fade-right intersect-once">{ Astro.currentLocale === "ja"
        ? `${ifk.durationJa}` : `${ifk.duration}`}</p>
            <div class="job-summary intersect fade-right intersect-once">
                { Astro.currentLocale === "ja" ? (
                <ul  class="responsibilities intersect fade-right intersect-once">業務内容： {ifk.responsibilitiesJa.map((responsibility) => (<li class="intersect fade-right intersect-once">{responsibility}</li>))}</ul>
                ) : (
                <ul  class="responsibilities intersect fade-right intersect-once">{ifk.multiResponsibilities === true ? "Responsibilities" : "Responsibility"} : {ifk.responsibilities.map((responsibility) => (<li class="intersect fade-right intersect-once">{responsibility}</li>))}</ul>
                )}
            </div>
        </div>
    </li>
</ul>

<script src="https://unpkg.com/@material-tailwind/html@latest/scripts/dialog.js"></script>

<style>
    ul.timeline, 
    ul.timeline li,
    .job-info {
        @apply
        gap-x-4
    }
    .year {
        width: 4ch;
    }
    .job-info,
    .job-summary {
        @apply
        flex
    }
    .job-info {
        @apply
        items-center
        py-2
    }
    .job-title {
        @apply
        pb-0
        text-xl
    }
    .location {
        @apply
        text-sm
    }
    .year, 
    .job-title, 
    .location {
        font-family: "heading-en", "heading-ja", sans-serif;
    }
    .duration {
        @apply
        pt-2
        pb-1
        text-sm
    }
    .responsibilities {
        font-family: "heading-en", "heading-ja", sans-serif;
        @apply
        pb-4
        list-disc
        list-outside
        text-sm
        font-semibold
    }
    .responsibilities li {
        font-family: "reading-en", "reading-ja", sans-serif;
        @apply
        font-normal
        ml-4
    }
    .job-summary {
        @apply
        flex-col
        md:flex-row
        basis-full
        gap-x-8
        items-start
    }
    .job-summary .works {
        @apply
        flex
        flex-wrap
        basis-full
        gap-3
        items-center 
        cursor-pointer
    }
    .job-desc {
        border-color: var(--hl-purple-dk);
        @apply
        font-normal
        border-l-4
        ml-4
        pl-8
    }
</style>