---
const { year, title, location, contract, tags, duration, multiResponsibilities, responsibilities, works, titleJa, locationJa, contractJa, tagsJa, durationJa, responsibilitiesJa } = Astro.props;
---

<li>
    <div class="job-info">
        <span class="year">{year}</span>
        <p class="job-title">{ Astro.currentLocale === "ja"
    ? `${titleJa}` : `${title}`}
            <span class="location">({ Astro.currentLocale === "ja"
    ? `${locationJa}` : `${location}`} | { Astro.currentLocale === "ja"
    ? `${contractJa}` : `${contract}`})</span>
        </p>
    </div>
    <div class="job-desc">
        { Astro.currentLocale === "ja" ? (
            <span>{tagsJa.map((tag) => (<span class="tag">#{tag}</span>))}</span>
            ) : (
            <span>{tags.map((tag) => (<span class="tag">#{tag}</span>))}</span>
        )}
        <p class="duration">{ Astro.currentLocale === "ja"
    ? `${durationJa}` : `${duration}`}</p>
        <div class="job-summary">
            { Astro.currentLocale === "ja" ? (
            <ul class="responsibilities">業務内容： {responsibilitiesJa.map((responsibility) => (<li>{responsibility}</li>))}</ul>
            ) : (
            <ul class="responsibilities">{multiResponsibilities === true ? "Responsibilities" : "Responsibility"} : {responsibilities.map((responsibility) => (<li>{responsibility}</li>))}</ul>
            )}
            <p class="works">{works.map((work) => (<img src=`/src/images/${work}` />))}</p>
        </div>
    </div>
</li>