---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
// import { SignIn, SignOut } from 'auth-astro/components'
const pagePathname = Astro.url.pathname
const { pageTitle, pageCategory, pageDescription } = Astro.props;
const siteTitle = "Erika Obama"
const siteKeywordsEn = "portfolio, blog, web design, UI design, UX design, graphic design, motion design, design, motion graphics, animated stickers, animated emojis, 3D modeling, 3D art, illustration, kawaii illustration, all-rounder, fullstack designer, fullstack, web designer, graphic designer, designer, webdev"
const siteKeywordsJa = "ポートフォリオ, ブログ, 考察, ウェブデザイン, Webデザイン, UIデザイン, UXデザイン, グラフィックデザイン, モーショングラフィックス, アニメーションスタンプ, 動くスタンプ, アニメーション絵文字, 動く絵文字, 3Dモデリング, 3DCG, イラスト, かわいいイラスト, ジェネラリスト, デザイナー, Webデザイナー, グラフィックデザイナー, Web開発"

---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap-index.xml">
    <link rel="alternate" type="application/rss+xml" title="Erika Obama" href="/rss.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script defer src="https://unpkg.com/tailwindcss-intersect@2.x.x/dist/observer.min.js"></script>

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteTitle} | {pageTitle}</title>
    <meta name="keywords" content={ Astro.currentLocale === "ja" ? `${siteKeywordsJa}` : `${siteKeywordsEn}`}>
    {pageDescription && <meta name="description" content={pageDescription}>}
    <!-- Open Graph tags -->
    <meta property="og:title" content={pageTitle} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={pageDescription} />
    <meta property="og:image:alt" content="">
  </head>
  <body class=`${pageCategory}`>
    <!-- <SignIn provider="github" />
    <SignOut /> -->
    
    <Header />
    { pagePathname === "/" ? `` : pagePathname === "/en/" ? `` : pagePathname === "/ja/" ? `` :
      <h1 class="intersect fade-down intersect-once">{pageTitle}</h1>
    }
     <slot />
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>