---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title} pageCategory={frontmatter.category}>
  <p class="intersect fade-right intersect-once"><em>{frontmatter.description}</em></p>

<div class="tags -mt-3 mb-14 intersect fade-right intersect-once">
  <span class="text-sm mr-2"><!-- Published on: -->{frontmatter.pubDate.toString().slice(0,10)}</span>
  {frontmatter.tags.map((tag: string) => (
    <span class="tag"><a href={`/tags/${tag}`}>#{tag}</a></span>
  ))}
</div>

<img src={frontmatter.image.url} alt={frontmatter.image.alt} class="heroimage intersect fade-down intersect-once"/>

<slot />
</BaseLayout>


<style>
  .heroimage {
    @apply
    mb-7
  }
  .heroimage + p {
      @apply
      animate-fade-down 
      animate-once 
  }
</style>