---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
import Graph from '../components/posts/4_graph.astro';
import jsonData from "../components/posts/4_graph-data.json";

---
<BaseLayout pageTitle={frontmatter.title} pageCategory={frontmatter.category} pageDescription={frontmatter.description} pageImageUrl={frontmatter.image.url} pageImageAlt={frontmatter.image.alt}>
  <p class="intersect fade-right intersect-once"><em>{frontmatter.description}</em></p>

<div class="tags -mt-3 mb-14 intersect fade-right intersect-once">
  <span class="text-sm mr-2"><!-- Published on: -->{frontmatter.pubDate.toString().slice(0,10)}</span>
  {frontmatter.tags.map((tag: string) => (
    <span class="tag"><a href={ Astro.currentLocale === "ja" ? `/ja/tags/${tag}` : `/tags/${tag}`}>#{tag}</a></span>
  ))}
</div>

<!-- <img src={frontmatter.image.url} alt={frontmatter.image.alt} class="heroimage intersect fade-down intersect-once"/> -->

<slot />

<Graph data={jsonData}></Graph>

</BaseLayout>


<style>
  .heroimage {
    @apply
    mb-7
  }
  .heroimage + p {
      @apply
      animate-fade-down 
      animate-once 
  }
</style>